<% include ../views/partials/header %>

<style>

img {
  max-width:400px; 
  border: 5px solid #424242;
  width: 100%;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 58.35%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>

    </head>
    <body style="background-color:black;color:white;">      


<div style="text-align:center;">
<div style="display: inline-block; text-align: center;">

	<br>
	<br>
	<br>

<img width="100%" src="https://i.imgur.com/hez5KS7.gif" alt="scroll down">

<div style="text-align:center;font-size:18px;">
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
<br>
</div>

<img src="https://i.imgur.com/jVuV9tF.png" alt="venn diagram people">
<br>
<br>
<span style="color:gray;"><u>tinder for friends</u></span> finds <span style="color:#00ffff;">people</span><br>
you have <span style="color:#aa48af;">thing(s) in common</span> with.

<div style="text-align:center;font-size:18px;">
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
<br>
</div>

<img src="https://i.imgur.com/znw7SkC.png" alt="anon person tweeting">
<br>
<br>
You <span style="color:gray;">anonymously</span> <span style="color:#00ffff;">tweet</span> about yourself<br>
<span style="font-size:12px;">
and give it a score between <span style="color:#ff0000;">-100</span> and <span style="color:#00ff00;">+100</span>.<br>
</span>
<br>
<span style="font-size:10px;color:gray;">
	<span style="color:#ff0000;">-100</span> means you hate something<br>
	<span style="color:#00ff00;">+100</span> means you love something<br>
</span>

<div style="text-align:center;font-size:18px;">
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
<br>
</div>

<img src="https://i.imgur.com/FqfW8o0.png" alt="anon judge panel clipart">
<br>
<br>
Other people can <span style="color:#00ffff;">re-tweet</span><br>
with their own <span style="color:#00ff00;">score</span>.<br>

<div style="text-align:center;font-size:18px;">
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
<br>
</div>

<img src="https://i.imgur.com/NFaGA4Q.gif" alt="spongebob imagination">
<br>
<br>
<span style="color:#00ffff;">Tweets</span> can be 
<span style="color:#ff0000;">w</span><span style="color:#ff2a00;">h</span><span style="color:#ff5500;">a</span><span style="color:#ff7f00;">t</span><span style="color:#ffaa00;">e</span><span style="color:#ffd400;">v</span><span style="color:#ffff00;">e</span><span style="color:#bfff00;">r</span><span style="color:#80ff00;"> </span><span style="color:#40ff00;">y</span><span style="color:#00ff00;">o</span><span style="color:#00ff55;">u</span><span style="color:#00ffaa;"> </span><span style="color:#00ffff;">w</span><span style="color:#00aaff;">a</span><span style="color:#0055ff;">n</span><span style="color:#0000ff;">t</span>...<br>
<span style="font-size:10px;color:gray;">
(as long as it's 100 characters or less)
</span>


<div style="text-align:center;font-size:18px;">
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
<br>
</div>

</div>
<br>
<div style="display: inline-block; text-align: left;">


The data is compiled.<br>
<img src="https://i.imgur.com/H8H1CNo.png" alt="bipartite graph">
<br>
<br>
<br>
<br>
<br>
<br>
The algorithm <span style="color:black;font-size:12px;background-color:#17fc1d;">&nbsp;scores&nbsp;</span> your matches.<br>
<img src="https://i.imgur.com/48uivT1.png" alt="people points">
<br>
<br>
<br>
<br>
<br>
<br>

<!-- https://css-tricks.com/left-align-and-right-align-text-on-the-same-line/ -->
<div id="textbox">
<span style="float:left;">Then it lists them out</span>
<span style="float:right;">
<span style="font-size:12px;">
<span style="color:#00ff00;">a</span><span style="color:#07f907;"> </span><span style="color:#0ef30e;">l</span><span style="color:#14ed14;">o</span><span style="color:#1be71b;">t</span><span style="color:#22e122;"> </span><span style="color:#29db29;">i</span><span style="color:#30d530;">n</span><span style="color:#36cf36;"> </span><span style="color:#3dc93d;">c</span><span style="color:#44c444;">o</span><span style="color:#4bbe4b;">m</span><span style="color:#52b852;">m</span><span style="color:#58b258;">o</span><span style="color:#5fac5f;">n</span><span style="color:#66a666;"> </span><span style="color:#6da06d;"><</span><span style="color:#749a74;">-</span><span style="color:#7a947a;">-</span><span style="color:#818e81;">-</span><span style="color:#888888;">-</span><span style="color:#8e8181;">-</span><span style="color:#947a7a;">></span><span style="color:#9a7474;"> </span><span style="color:#a06d6d;">n</span><span style="color:#a66666;">o</span><span style="color:#ac5f5f;">t</span><span style="color:#b25858;">h</span><span style="color:#b85252;">i</span><span style="color:#be4b4b;">n</span><span style="color:#c34444;">g</span><span style="color:#c93d3d;"> </span><span style="color:#cf3636;">i</span><span style="color:#d53030;">n</span><span style="color:#db2929;"> </span><span style="color:#e12222;">c</span><span style="color:#e71b1b;">o</span><span style="color:#ed1414;">m</span><span style="color:#f30e0e;">m</span><span style="color:#f90707;">o</span><span style="color:#ff0000;">n</span>
</span>
</span>
<div style="clear: both;"></div>
</div>

<img src="https://i.imgur.com/kPkiWYi.gif" alt="rick and morty spectrum">

<div style="text-align:center;font-size:18px;">
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
<br>
</div>

<div style="text-align:center;color:gray;">
Here's a concrete example <i class="fas fa-long-arrow-alt-down"></i>
</div>
<br>
<br>
<table style="width:100%;">
  <tr>
    <td></td>
    <td style="text-align:center;">Spongebob</td> 
    <td style="text-align:center;">Patrick</td> 
  </tr>
  <tr>
    <td>&ldquo;I'm a goofy goober.&rdquo;</td>
    <td style="color:#00ff00;">+40</td>
    <td style="color:#00ff00;">+20</td>
  </tr>
  <tr>
    <td>&ldquo;I like tartar sauce.&rdquo;</td>
    <td style="color:red;">-50</td>
    <td style="color:red;">-30</td>
  </tr>
  <tr>
    <td>&ldquo;I have a pet snail.&rdquo;</td>
    <td style="color:#00ff00;">+10</td>
    <td style="color:red;">-5</td>
  </tr>
  <tr>
    <td>&ldquo;I play the guitar.&rdquo;</td>
    <td style="color:#00ff00;">+7</td>
    <td style="color:gray;">0</td>
  </tr>
</table>


<br>
<br>
<br>
<br>
<br>

<div style="text-align:center;">
<img style="width:88px;border:none;" src="https://i.imgur.com/mLmudut.png" alt="da rules fairly odd parents">
<br>
<br>
<div style="color:gray;font-size:12px;">
<span style="color:yellow;">1.</span> <span style="color:#ff44ff;">Affinity</span> is the sum of all values.<br>
<span style="color:yellow;">2.</span> If you both like something, the weaker value is used.<br>
<span style="font-size:10px;">
(a chain is only as strong as its weakest link)<br>
</span>
<span style="color:yellow;">3.</span> If you both dislike something, the weaker value is flipped then used.<br>
<span style="color:yellow;">4.</span> If one person likes & one person dislikes, the difference is used.<br>
<span style="color:yellow;">5.</span> If at least one person is neutral, no value is used.<br>
</div>
</div>

<br>
<br>
<br>
<br>
<br>

<div style="text-align:center;color:gray;">
the algorithm in action <i class="fas fa-long-arrow-alt-down"></i>
</div>
<br>
<br>
<table style="width:100%;">
  <tr>
    <td></td>
    <td style="text-align:center;">S</td> 
    <td style="text-align:center;">P</td> 
    <td style="text-align:center;"><i style="color:#cccc00;" class="fas fa-long-arrow-alt-right"></i></td>
    <td style="text-align:center;background-color:#232323;">S<span style="font-size:11px;">&</span>P</td>
  </tr>
  <tr>
    <td>&ldquo;I'm a goofy goober.&rdquo;</td>
    <td style="color:#00ff00;">+40</td>
    <td style="color:#00ff00;">+20</td>
    <td style=""><span style="color:#cccc00;font-size:10px;">rule #2</span></td>
    <td style="color:#00ff00;background-color:#232323;">+20</td>
  </tr>
  <tr>
    <td>&ldquo;I like tartar sauce.&rdquo;</td>
    <td style="color:red;">-50</td>
    <td style="color:red;">-30</td>
    <td style=""><span style="color:#cccc00;font-size:10px;">rule #3</span></td>
    <td style="color:#00ff00;background-color:#232323;">+30</td>
  </tr>
  <tr>
    <td>&ldquo;I have a pet snail.&rdquo;</td>
    <td style="color:#00ff00;">+10</td>
    <td style="color:red;">-5</td>
    <td style=""><span style="color:#cccc00;font-size:10px;">rule #4</span></td>
    <td style="color:red;background-color:#232323;">-15</td>
  </tr>
  <tr>
    <td>&ldquo;I play the guitar.&rdquo;</td>
    <td style="color:#00ff00;">+7</td>
    <td style="color:gray;">0</td>
    <td style=""><span style="color:#cccc00;font-size:10px;">rule #5</span></td>
    <td style="color:gray;background-color:#232323;">0</td>
  </tr>
  <tr>
    <td style="background-color:#232323;" colspan="4"><span style="color:#ff44ff;">affinity score</span></td>
    <td style="color:#ff44ff;background-color:#232323;">+35</td>
  </tr>
</table>


<div style="text-align:center;font-size:18px;">
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
<br>
</div>


You need a <span style="color:black;font-size:13px;font-weight:bold;background-color:#00ff00;">&nbsp;college email&nbsp;</span> to play.<br>
<img src="https://i.imgur.com/6RNstVi.png" alt="the social network">
<br>
<br>
<br>
<br>
<br>
Why? <span style="font-size:12px;">because...</span><br>
	<table style="margin-left: auto;margin-right: auto;">
		<tr>
			<td>
				<h2><i style="color:red;" class="fas fa-times-circle"></i> gmail</h2>
			</td>
			<td>
				<h2><i style="color:#00ff00;" class="fas fa-check-circle"></i> college email</h2>
			</td>
		</tr>
		<tr>
			<td>
				<i style="color:red;" class="fas fa-times-circle"></i> anonymous<br><i style="color:black;" class="fas fa-times-circle"></i> assholes<br>
				<br>
			</td>
			<td>
				<i style="color:#00ff00;" class="fas fa-check-circle"></i> Attributable.<br>
				<span style="font-size:10px;color:gray;">
					Don't tweet anything illegal<i>!</i><br>
					Your school can rat you out.<br>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<i style="color:red;" class="fas fa-times-circle"></i> unlimited<br><i style="color:black;" class="fas fa-times-circle"></i> accounts<br>
				<br>
			</td>
			<td>
				<i style="color:#00ff00;" class="fas fa-check-circle"></i> 1 account per person.<br>
				<span style="font-size:10px;color:gray;">
					Colleges only give one email per person.<br>
					This makes it easy to blacklist trolls.<br>
				</span>
			</td>
		</tr>
	</table>


<div style="text-align:center;font-size:18px;">
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
<br>
</div>

<div style="text-align:center;">
Your emails are revealed to each other<br>
when you both &ldquo;swipe right&rdquo;.&nbsp;<br>
<span style="font-size:12px;color:gray;">
you're anons until then<br>
<img style="border:none;width:21px;" src="https://i.imgur.com/gniiEjV.png" alt="guy fawkes mask"> <i style="color:white;font-size:18px;" class="fas fa-comments"></i> <img style="border:none;width:21px;" src="https://i.imgur.com/gniiEjV.png" alt="guy fawkes mask">
</span>
</div>

<div style="text-align:center;font-size:18px;">
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
.
<br>
<br>
<br>
</div>

<img src="https://i.imgur.com/W1yfS7T.gif" alt="that's all folks">
<br>
<br>
<div style="text-align:right;">
	<a href="/">
		<span style="font-size:21px;color:white;"><i class="fas fa-arrow-left"></i></span></a>&nbsp;&nbsp;<a href="/"><span style="font-size:12px;"><b>Click here to return to the home page.</b></span>
	</a>

	<br>
	<br>
	<br>

	<a href="https://en.wikipedia.org/wiki/Homophily" target="_blank">
		<span style="font-size:21px;color:white;"><i class="fab fa-wikipedia-w"></i></span>
	</a>
	<a href="https://en.wikipedia.org/wiki/Homophily" target="_blank">
		<span style="font-size:12px;"><b>Click here to read a wiki article.</b></span>
	</a>

	<br>

	<div style="line-height:0.75;">
	<a href="https://github.com/geofree-tze/socialclient" target="_blank">
		<span style="font-size:21px;color:white;"><i class="fab fa-github"></i></span>
	</a>
	<a href="https://github.com/geofree-tze/socialclient" target="_blank">
		<span style="font-size:12px;"><b>Click here to view the code.</b></span>
		<br>
		<span style="font-size:10px;">(open source<i>!</i>)</span>
	</a>
	</div>

</div>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
</div>
</div>
</body>
</html>
