<% include ../views/partials/header %>

<br>

<form method="POST" action="/addguest" id="addguest">
	    <input type="input" name="email" placeholder="guest email" required="required" autofocus>
	    <input type="password" name="password">
            <input type="submit" value="Submit" class="btn btn-default btn-sm">
</form>

<% include ../views/partials/footer %>
