<% include ../views/partials/header %>

    </head>
    <body>      


<div style="text-align:center;">

	<br>
	<br>
	<br>

<img alt="simpsons not on the list" src="https://i.imgur.com/8ldTaUH.gif" width="400px;">
	<br>
	<br>
Please email <a><u>geofree.tze@gmail.com</u></a><br>
or <a>click here</a> to read the safety rules.
	<br>
	<br>
	<br>
	<br>
</div>
</body>
</html>
