<% include ../views/partials/header %>

<style>

/* https://codepen.io/matthewhirsch/pen/OPwQRL */
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}

#text-carousel2 {
  width: 100%;
  height: auto;
  padding: 50px;
}

</style>
















    </head>
    <body style="background-color:black;">          
    <div class="container">
        <%- messages('message', locals) %>


<br>
<br>
	<h1 style="color:#ff8800;">Your account is under review.</h1>

<% include ../views/partials/footer %>