<% include ../views/partials/header %>

    </head>
    <body style="background-color:#c6af80;">


<div style="text-align:center;">

	<br>
	<br>
	<br>

	<img alt="new email" src="https://i.imgur.com/ARH9QEK.png" width="400px;">

</div>
</body>
</html>
