<% include ../views/partials/header %>

<br>

<form method="POST" action="/resetcount" id="resetcount">
	    <input type="password" name="password">
            <input type="submit" value="Submit" class="btn btn-default btn-sm">
</form>

<% include ../views/partials/footer %>
