<% include ../views/partials/header %>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
    </head>
    <body>      


<div style="text-align:center;">

	<br>
	<br>
	<table style="margin-left: auto;margin-right: auto;">
		<tr>
			<td>
				<h1><span style="color:red;"><i class="fas fa-times-circle"></i></span> gmail</h1>
			</td>
			<td>
				<h1><span style="color:green;"><i class="fas fa-check-circle"></i></span> college email</h1>
			</td>
		</tr>
		<tr>
			<td>
				<br>
				<br>
				<i class="fas fa-times-circle"></i> anonymous<br>
				<br>
				<br>
			</td>
			<td>
				<br>
				<br>
				<i class="fas fa-check-circle"></i> Not anonymous.<br>
				<span style="font-size:10px;color:gray;">
					Do not write anything explicitly illegal, for your own sake.<br>
					The cops can subpoena your school and find out who you are irl.<br>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<br>
				<br>
				<i class="fas fa-times-circle"></i> multiple accounts<br>
				<br>
			</td>
			<td>
				<br>
				<br>
				<i class="fas fa-check-circle"></i> 1 account per person.<br>
				<span style="font-size:10px;color:gray;">
					Colleges only give one email per person.<br>
					When a bad person is banned, they can't sign up again.<br>
				</span>
			</td>
		</tr>
	</table>






		<br>
		<br>

</div>
</body>
</html>
